@import "tailwindcss";

@theme {
  --color-primary: #ee8c2b;
  --color-background-light: #f8f7f6;
  --color-background-dark: #221910;
  --color-surface-white: #ffffff;

  --font-display: "Plus Jakarta Sans", sans-serif;
  --font-sans: "Plus Jakarta Sans", sans-serif;

  --radius-DEFAULT: 1rem;
  --radius-lg: 2rem;
  --radius-xl: 3rem;
}

@layer base {
  body {
    @apply font-sans bg-background-light text-[#181411] antialiased;
  }
}

/* Custom scrollbar utility */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}